[submodule "services/naming-server"]
	path = services/naming-server
	url = https://github.com/two-monkeys-org/naming-server

[submodule "services/gateway"]
	path = services/gateway
	url = https://github.com/two-monkeys-org/gateway

[submodule "services/main-service"]
	path = services/main-service
	url = https://github.com/two-monkeys-org/main-service

[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/two-monkeys-org/naming-server
